In [14]:
print("MUjeeb Ur Rehman")
print(234)
# x = 6;
# y = 9;
# z = 1;
print(x+y+z)

MUjeeb Ur Rehman
234

In [7]:
name = "Mujeeb Ur Rehman "
print(name)

Mujeeb Ur Rehman

In [5]:
name ="ali"
age= 34
enroll= True
ratio = 34.4
id= None

print(type(name))
print(type(age))
print(type(enroll))
print(type(ratio))
print(type(id))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'NoneType'>

In [8]:
'''this
is 
the 
jupitor'''
print("ok")

ok

In [10]:
var= input("Enter the input: ")
print(var)

Enter the input:  uk

uk

In [12]:
number= 1 +2*3/4
print(number)
print(4/3)

2.5
1.3333333333333333

In [13]:

rem= 11%3
print(rem)

2

In [19]:
print(3**3)
print("hello"+" "+ "world")
print("hello\n"*10)

27
hello world
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [21]:
x=[1,2]
y=[1,2]

print(x==y) # Prints out True
print(x is y) # Prints out False

True
False

In [23]:
b=13
a=5
print(a is b)
print(a==b)
print(a is not b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
False
True
False
True
False
True

In [27]:
a= 8 
b= 2
a+=b
print(a)
a-=b
print(a)

a*=b
print(a)

a/=b
print(a)

a%=b
print(a)

a**=b
print(a)

10
8
16
8.0
0.0
0.0

In [30]:

a=1
print( not a)
b=0
print(not False)
print(not (a>b))
print()

False
True
False